/* "go-back" button on the picture pages */
.button-go-back{
  border: none;
  padding: none;
  border-radius: 30px;
  background: rgb(238, 81, 81);
  width: 5em;
  margin: 1em;
  font-size: 1.5em;
}

.button-go-back:hover{
  box-shadow: 0.2em 0.1em 0.2em black;
  transition: box-shadow 0.4s ease;
}


/* The main page */
body{
    margin: 0;
}

.main-page h1 {
    position: relative;
    text-align: center;
    top: 0.3em;
    font-size: 8rem;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(102, 1, 18);
    z-index: 2;
}

.main-page img {
    position:absolute;
    opacity: 0.8;
    margin:0;
    width: 100%;
    height:45rem;
    top: 20px;
    z-index: 0;
    min-width: 900px;
}

.main-page div:first-of-type {
    background: hsl(2, 100%, 69%);
    opacity: 0.3;
    position: absolute;
    margin: 0;
    top: 0;
    height:46.4rem;
    /* Question: how to let this height=45rem+20px?? */
    width: 100%;
    z-index: 1;
}

.fade{
    width: 100%;
    height: 3em;
    opacity: 0.5;
    border: black dotted;
}


/* The navigation page */
.navi{
    position: relative;
}

.button-to-navi button{
    border: none;
    border-radius: 90px;
    padding: 0;
    background: chocolate;
    height: 3em;
    width: 3em;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    font-weight: bolder;
    opacity: 0.9;
}

.button-to-navi button:hover{
  box-shadow: 0.2em 0.1em 0.3em rgb(0, 0, 0);
  transition: box-shadow 0.4s ease;
}



/* The Count Down */
.timer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .timer h1 {
    font-weight: normal;
  }
  
  .timer li {
    display: inline-block;
    font-size: 1.5em;
    list-style: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  .timer li span {
    display: block;
    font-size: 4.5rem;
  }